HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!src/main/**/build/
!src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!src/main/**/bin/
!src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!src/main/**/out/
!src/test/**/out/

### VS Code ###
.vscode/

# Gradle
.gradle/

# Eclipse
.settings/

# NetBeans
nb-configuration.xml

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
